#root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 280px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.domain-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
}

.rezka-button {
    cursor: pointer;
    width: 100%;
    padding: 4px;
    background-color: #212121;
    color: white;
}

.rezka-button:hover {
    background-color: #363636;
}

.delete-icon {
    
}

.delete-icon:hover {
    opacity: 0.8;
}