.rezka-prime-toolbar {
  background: #e1e289;
  color: black;

  padding: 8px;
  translate: 0 -8px;

  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.rezka-prime-toolbar-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0px;
}

.rezka-prime-toolbar-right {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.rezka-prime-toolbar-right-separate {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.rezka-prime-toolbar-right-select-container {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6px;
}

.rezka-button {
  width: 90px;
  background-color: #2d2d2d;
  color: white;
  padding: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rezka-button-wtext {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: small;
}

.rezka-button:hover {
  background-color: #4d4d4d;
}

.rezka-select {
  border: none;
  width: 120px;
}

.loading-icon {
  animation: spin 1000ms linear infinite;
}

@-moz-keyframes spin {
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  to {transform:rotate(360deg);}
}

.progress-bar-container {
  display: flex;
  align-items: center;
  width: 150px;
  height: 100%;
  background-color: #333;
  border: 1px solid #555;
  overflow: hidden;
}
.progress-bar {
  height: 100%;
  background-color: #4CAF50;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  transition: width 0.2s ease-in-out;
  white-space: nowrap;
}